<div class="container">
    <div class="well">
        <form name="createTripForm" class="form-horizontal">
            <fieldset>
                <legend>Create New Trip</legend>
                <div class="form-group">
                    <label for="from" class="col-md-2 control-label">From</label>

                    <div class="col-md-10">
                        <input id="from" type="text" placeholder="From city" ng-model="trip.from" required="required"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="to" class="col-md-2 control-label">To</label>

                    <div class="col-md-10">
                        <input id="to" type="text" placeholder="To city" ng-model="trip.to" required="required"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="availableSeats" class="col-md-2 control-label">Available seats</label>

                    <div class="col-md-10">
                        <input id="availableSeats" type="number" placeholder="Available seats"
                               ng-model="trip.availableSeats" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="departureTime" class="col-md-2 control-label">Departure time</label>

                    <div class="col-md-10">
                        <input id="departureTime" type="text" placeholder="Date (dd/mm/yyyy)" datepicker
                               ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="trip.departureTime" required="required"
                               class="form-control"/>
                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="createTrip(trip)" ng-disabled="createTripForm.$invalid" class="btn btn-primary">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>