<div class="container clearfix" ng-controller="HomeController">
    <div class="container text-center">
        <div class="page-header">
            <h1>Trip Exchange System</h1>
        </div>
        <div class="jumbotron">
            <div class="big-text">Latest 10 available trips</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="trip in latestTrips">
                    <strong>From:</strong> {{ trip.from }}
                    <strong>to</strong> {{trip.to}}
                    <strong>Date:</strong> {{ trip.departureDate }}
                    <strong>Driver name:</strong> {{ trip.driverName }}
                </li>
            </ul>

            <div class="big-text">Last 10 registered drivers</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="driver in lastRegDrivers">
                    <strong>Name:</strong> {{ driver.name }} -
                    <strong>Upcoming trips:</strong> {{ driver.numberOfUpcomingTrips }},
                    <strong>Total trips:</strong> {{ driver.numberOfTotalTrips }}
                </li>
            </ul>
        </div>
    </div>
</div>