<div class="container clearfix">
    <div class="container text-center" ng-controller="StatisticsController">
        <div class="page-header">
            <h1>Statistics</h1>
        </div>
        <div class="jumbotron">
            <div class="big-text">System's statistics</div>
            <strong>Total trips:</strong> {{ stats.trips }}
            <br/>
            <strong>Total finished trips</strong> {{ stats.finishedTrips }}
            <br/>
            <strong>Total users:</strong> {{ stats.users }}
            <br/>
            <strong>Total drivers:</strong> {{ stats.drivers }}
        </div>
    </div>
</div>