<div class="container clearfix" ng-controller="TripsController">
    <div class="container text-center">
        <div class="page-header">
            <h1>Trips</h1>
        </div>
        <div class="jumbotron" ng-controller="LoginCtrl">
            <div ng-show="identity.isAuthenticated()">
                <p>
                    <a href="#/create-trip" class="btn btn-primary btn-lg">Create Trip</a>
                </p>
            </div>

            <div class="form-group">
                <div class="big-text">Latest 10 available trips</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="trip in trips">
                        <strong>Driver name:</strong> {{ trip.driverName }}
                        <strong>From: </strong> {{ trip.from }}
                        <strong>To: </strong> {{ trip.to }}
                        <strong>Departure date: </strong> {{ trip.departureDate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>